name: Flutter iOS Build
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Install Dependencies
        run: flutter pub get

      - name: Create and Configure Podfile
        run: |
          cd ios
          # Se il Podfile non esiste, lo genera Flutter
          flutter precache --ios
          if [ ! -f "Podfile" ]; then
            pod init
          fi
          # Forza la versione minima a 15.0 per Firebase
          sed -i '' "s/# platform :ios, '9.0'/platform :ios, '15.0'/" Podfile
          sed -i '' "s/platform :ios, '.*'/platform :ios, '15.0'/" Podfile

      - name: Build IPA
        run: |
          # Forza il target anche nel file di progetto Xcode
          sed -i '' "s/IPHONEOS_DEPLOYMENT_TARGET = .*/IPHONEOS_DEPLOYMENT_TARGET = 15.0;/g" ios/Runner.xcodeproj/project.pbxproj
          
          flutter build ios --release --no-codesign
          
          # Crea il pacchetto .ipa manuale
          mkdir -p Payload
          cp -r build/ios/iphoneos/Runner.app Payload/
          zip -r app.ipa Payload

      - name: Upload IPA
        uses: actions/upload-artifact@v4
        with:
          name: ios-app
          path: app.ipa
